<html>

  <head>
    <link rel="stylesheet" href="/stylesheets/HBD-putriku.css">
  </head>

  <body>
  
    <div id="outside">
    
      <p id="outside-title">
        <h1>Happy Birthday Putriku Sayang!</h1>
      </p>

      <img id="outside-pic" src="/images/present.png">

      <p>
        <button onclick="open_card()">Buka kartunya sayang</button>
      </p>

    </div>
  
    <div id="inside">
    
      <p id="inside-title">
          <h1>
        Kaka selamat ulang tahun ya...!!
          </h1>
      </p>
      
      <img id="inside-pic" src="/images/flowers.png">
      
      <p id="message">
          <h2>
        Semoga panjang umur, sehat selalu, bikin PR ga mepet,
        <br>
        nilai sekolahnya bagus terus,
        <br>
        tercapai cita-citanya,
        <br>
        makin dewasa, jangan sering rudet ga puguh ya sayang.
          </h2>
      </p>

      <p>
        <button onclick="close_card()">Tutup</button>
      </p>
      
    </div>
    <script src="/javascripts/HBD-putriku.js"></script>    
  </body>
  
</html>